<br>
<div class="task-section-heading">
<h2>Login</h2>
</div>
<br>

<%# Print out an error message, if the SessionController set one %>
<% if flash[:error] %>
    <br>
    <strong>
        <%= flash[:error] %>
    </strong>
<% end %>

<%# Login form %>
<%= form_with url: login_path, local: true do |f| %> 
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.submit 'Login', class: 'primary-button' %>
<% end %>
<%# TODO: link_to 'Cancel', name_destination_path, class: 'name-of-the-css-class'%>
<%# example: link_to 'Cancel', workshops_path, class: 'secondary-button' %>